.big{
    border: 3px solid black;
    width: 300px;
}
.bigbar
{
    border: 3px solid yellow;

}
.boxes
{
    display: grid;
    border: 3px solid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.box {
  background-color: green;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}